VITE_MAP_PROVIDER=OSM_ONLINE
VITE_MAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
VITE_MAP_ATTRIBUTION=© OpenStreetMap contributors
VITE_MAP_DEFAULT_LATITUDE=24.995
VITE_MAP_DEFAULT_LONGITUDE=55.040
VITE_MAP_DEFAULT_ZOOM=15
